<main class="main">
  <div class="content">
    <div class="left-side">
      <div *ngIf="!credentialJwt">
        <p>Fill out your decentralized identifier (DID) to get started.</p>
        <form [formGroup]="identityForm" class="identity-form">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Identifier (DID)</mat-label>
            <input
              class="full-width"
              matInput
              placeholder="The identifier that will receive a credential"
              formControlName="did"
            />
          </mat-form-field>
          <br />

          <div *ngIf="identityForm.controls.did.value">
            <mat-form-field>
              <mat-label>Choose an credential</mat-label>
              <mat-select formControlName="schema">
                <mat-option value="voluntaryist"
                  >The Voluntaryist Covenant</mat-option
                >
              </mat-select>
            </mat-form-field>

            <p>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                (click)="issueCredential()"
              >
                Issue Credential
              </button>
            </p>
          </div>
        </form>
      </div>

      <div *ngIf="credentialJwt">
        <p>
          Here is your verifiable credential. You can copy it to your clipboard and save manually.
          Support for QR code import is coming soon.
          <!-- You can open your mobile wallet
          that supports credentials and import it. You can also copy to
          clipboard and save manually. -->
        </p>

        <!-- <p>
          <img [src]="credentialQrCode" class="qr-code" />
        </p> -->

        <p>
          <button
            class="action-button"
            type="submit"
            mat-raised-button
            color="primary"
            (click)="copy(this.credentialJwt)"
          >
            Copy to clipboard
          </button>
          <button
            class="action-button"
            type="submit"
            mat-raised-button
            (click)="reset()"
          >
            Create a new credential
          </button>
        </p>

        <div class="credential-box">
          <div class="padding-box">
            {{ credentialJwt }}
          </div>
        </div>

        <br />

        <div class="credential-box">
          <div class="padding-box beauty">
            {{ credentialJson }}
          </div>
        </div>
      </div>
    </div>
    <div class="right-side" *ngIf="!credentialJwt">
      <h2>What is a decentralized identifier (DID)?</h2>
      <p>
        A unique identity that belongs to you. There are many providers of DIDs
        and you are free to choose anyone you want.
      </p>
      <p>You can get a DID with wallets such as:</p>
      <ul>
        <li><a href="https://www.verida.io/">Verida Wallet</a></li>
        <li>
          <a href="https://sphereon.com/sphereon-products/sphereon-wallet/"
            >Sphereon Wallet
          </a>
        </li>
      </ul>
      <p>
        If you have a wallet like MetaMask (Ethereum) or Stellar, you can fill
        out your identity like these examples:
      </p>

      <p class="wrap faded">
        did:ethr:0x17960Abb12a3C...<br />
        did:stllr:GDMBM7P2ZVD64D...
      </p>

      <p class="faded">
        Want to learn more about Web5? Check out this
        <a href="https://web5.sondreb.com/">awesome-web5</a> list resources.
      </p>
    </div>
  </div>
</main>

<router-outlet />
