<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Your Verifiable Credential</h1>

      <div *ngIf="vc">
        <div class="credential-view">
          <div class="padding-box">
            <div class="flex-container">
              <div class="flex-item">
                <img
                  class="credential-logo"
                  src="assets/World-Voluntaryist-Organisation.png"
                  alt="World Voluntaryist Organisation"
                />
              </div>
              <div class="flex-item">
                <p>
                  Signed: <strong>{{ vc.vc.credentialSubject.signed }}</strong>
                  <br />
                  Version: <strong>{{ vc.vc.credentialSubject.version }}</strong>
                  <br />
                  Hash: {{ vc.vc.credentialSubject.hash }}
                </p>
                Issued to: {{ vc.vc.credentialSubject.id }}<br />
                Issued by: {{ vc.vc.issuer }}<br />

              </div>
            </div>
          </div>
        </div>

        <p><br>
          Here is your verifiable credential. You can copy it to your clipboard
          and save manually. Support for QR code import is coming soon.
          <!-- You can open your mobile wallet
          that supports credentials and import it. You can also copy to
          clipboard and save manually. -->
        </p>

        <!-- <p>
          <img [src]="credentialQrCode" class="qr-code" />
        </p> -->

        <p>
          <button
            class="action-button"
            type="button"
            mat-raised-button
            color="primary"
            (click)="copy(this.vc.jwt)"
          >
            Copy to clipboard
          </button>
          <button class="action-button" mat-raised-button [routerLink]="['/']">
            Create a new credential
          </button>
        </p>

        <div class="credential-box">
          <div class="padding-box">
            {{ this.vc.jwt }}
          </div>
        </div>

        <br />

        <div class="credential-box">
          <div class="padding-box beauty">
            {{ credentialJson }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
