<div class="container">
  <div class="card">
    <div *ngIf="!vc" class="card-loading"><mat-spinner></mat-spinner></div>
    <div *ngIf="vc" class="card-badge">
      <img
        class="card-icon"
        src="assets/World-Voluntaryist-Organisation.png"
        alt="World Voluntaryist Organisation"
      />
    </div>
    <div *ngIf="vc" class="card-details">
      <h2>
        {{ vc.vc.credentialSubject.signed }} v{{
          vc.vc.credentialSubject.version
        }}
      </h2>
      <p>
        {{'Credential.Signed' | translate }} <strong>{{ vc.vc.issuanceDate | date }}</strong>
      </p>
      {{ 'Credential.To' | translate }}: <span class="faded">{{ vc.vc.credentialSubject.id }}</span
      ><br />
      {{ 'Credential.From' | translate }}: <span class="faded">{{ vc.vc.issuer }}</span
      ><br />
    </div>
  </div>

  <p>
    <button
      [disabled]="!vc"
      class="action-button"
      type="button"
      mat-raised-button
      color="primary"
      (click)="copy(this.vc.jwt)"
    >
      {{ 'Credential.CopyToClipboard' | translate }}
    </button>
    <button class="action-button" mat-raised-button [routerLink]="['/']">
      {{ 'Credential.CreateAnewCredential' | translate }}
    </button>
  </p>

  <div *ngIf="vc" class="raw faded">
    {{ 'Credential.CredentialJSON' | translate }} :<br />
    {{ credentialJson }}
  </div>

  <br />

  <div *ngIf="vc" class="raw faded">
    {{ 'Credential.CredentialJWT' | translate }} :<br />
    {{ this.vc.jwt }}
  </div>
</div>
