<main class="main">
  <div class="content">
    <div class="left-side">
      <div *ngIf="!credentialJwt">
        <p>{{ "Home.FillOutYourDID" | translate }}</p>
        <form [formGroup]="identityForm" class="identity-form">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ "Home.Identifier" | translate }}</mat-label>
            <input
              class="full-width"
              matInput
              placeholder="The identifier that will receive a credential"
              formControlName="did"
            />
            <mat-error *ngIf="identityForm.controls.did.hasError('colonCount')">
              Identifier must contain at least two colons.
            </mat-error>
            <mat-error *ngIf="identityForm.controls.did.hasError('noSpaces')">
              Identifier must not contain spaces.
            </mat-error>
          </mat-form-field>
          <br />

          <div *ngIf="identityForm.controls.did.value">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Home.ChooseACredential" | translate }} </mat-label>
              <mat-select formControlName="schema">
                <mat-option value="WorldVoluntaryistOrganisationCredential">{{
                  "Home.TheVoluntaryistCovenant" | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <p>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                (click)="issueCredential()"
              >
                {{ "Home.IssueCredential" | translate }}
              </button>
            </p>
          </div>
        </form>
      </div>

      <div *ngIf="credentialJwt">
        <p>
          {{ "Home.Subtitle" | translate }}
          <!-- You can open your mobile wallet
          that supports credentials and import it. You can also copy to
          clipboard and save manually. -->
        </p>

        <!-- <p>
          <img [src]="credentialQrCode" class="qr-code" />
        </p> -->

        <p>
          <button
            class="action-button"
            type="submit"
            mat-raised-button
            color="primary"
            (click)="copy(this.credentialJwt)"
          >
            {{ "Credential.CopyToClipboard" | translate }}
          </button>
          <button
            class="action-button"
            type="submit"
            mat-raised-button
            (click)="reset()"
          >
            {{ "Credential.CreateAnewCredential" | translate }}
          </button>
        </p>

        <div class="credential-box">
          <div class="padding-box">
            {{ credentialJwt }}
          </div>
        </div>

        <br />

        <div class="credential-box">
          <div class="padding-box beauty">
            {{ credentialJson }}
          </div>
        </div>
      </div>
    </div>
    <div class="right-side" *ngIf="!credentialJwt">
      <h2>{{ "App.Headline" | translate }}</h2>
      <p>{{ "Home.Title" | translate }}</p>
      <p>{{ "Home.YouCanGetaDIDwithWalletsSuchAs" | translate }}</p>
      <ul>
        <li><a href="https://www.verida.io/">Verida Wallet</a></li>
        <li>
          <a href="https://sphereon.com/sphereon-products/sphereon-wallet/"
            >Sphereon Wallet
          </a>
        </li>
      </ul>
      <p>
        {{ "Home.MetaMaskStellar" | translate }}
      </p>

      <p class="wrap faded">
        did:ethr:0x17960Abb12a3C...<br />
        did:stllr:GDMBM7P2ZVD64D...<br />
        <a
          routerLink="/credentials/did:dht:1c5gde6u5oyhk8fiytupnwzfju49b56zwwoensaqenzxri96z1mo/WorldVoluntaryistOrganisationCredential"
          >did:dht:1c5gde6u5oyhk8fiytu... (example)</a
        >
      </p>

      <p class="faded">
        {{ "Home.WantToLearnMore" | translate }}
        <a href="https://web5.sondreb.com/">awesome-web5</a>
        {{ "Home.ListResources" | translate }}
      </p>
    </div>
  </div>
</main>
